.title {
  text-align: center;
}

body {
    padding-top: 10px;
}

.content {
  text-align: center;
  margin-top: 10%;
  font-size: 18px;
}

#random {
  background-color: white;
  border: 2px solid green;
  border-radius: 8px;
  margin: 20px;
  padding: 15px 30px;
  font-size: 20px;
}

#hex {
    text-align: center;
    padding-top: 10%;
}